@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btn:focus {
  box-shadow: none;
}

body {
  overflow-x: hidden;
}

.header__logo {
  width: 88.61px;
  height: 33.4px;
}

.d-flex {
  align-items: center;
  flex-wrap: nowrap;
}

.nav-item {
  margin-right: 148px;
}

.nav-item,
.fa {
  cursor: pointer;
  transition: 0.3s;
}

.nav-item:hover,
.fa:hover {
  color: #2a0953;
}

.fa-instagram {
  margin-right: 19px;
}

.intro {
  height: 559px;
}

.bg {
  background-image: url(../img/header__bg.png);
  height: 460px;
  position: relative;
}

.intro_padding {
  padding-top: 60px;
}

.title {
  font-weight: 800;
  max-width: 577px;
  color: #fff;
  line-height: 88px;
  font-size: 64px;
  margin-bottom: 17px;
}

.description {
  max-width: 434px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 26px;
}

.text-warning {
  font-weight: 700;
}

.btn {
  width: 186px;
  height: 46px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.btn__transparent {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.buttons .btn__transparent:first-child {
  margin-right: 16px;
}

.btn__transparent:hover {
  background-color: #fbc508;
  color: #2b0955;
  border: #fbc508;
}

.man {
  position: absolute;
  left: 45.74%;
  top: 37px;
  width: 582px;
  height: auto;
}

.slider-block,
.slick-list,
.draggable {
  display: none;
}

.startup__card--block {
  display: flex;
  align-items: center;
}

.heading {
  font-style: normal;
  font-weight: 600;
  max-width: 300px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #2b0955;
}

.startup__border {
  width: 97px;
  height: 2px;
  background-color: #fbc508;
  border: none;
  margin: 16px 0;
}

.startup__text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #363636;
  max-width: 585px;
  text-align: center;
}

.card__item {
  width: 287px;
  height: 306px;
  background: #ffffff;
  box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
  margin-top: 103px;
  padding: 123px 35px 34px 31px;
}

.target__card {
  width: 171px;
  height: 178px;
  position: absolute;
  left: 52px;
  top: -85.5px;
  background-image: url(../img/Target.png);
}

.name__card {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
  color: #000000;
}

.text__card {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  width: 207px;
  color: #363636;
}

.fa-plus-circle {
  color: #7000ff;
  position: absolute;
  left: 238px;
  top: 256px;
  width: 25px;
  height: 25px;
}

.coin__card {
  width: 211px;
  height: 273px;
  position: absolute;
  left: 45px;
  top: -136.5px;
  background-image: url(../img/Ethereum.png);
}

.card__card {
  width: 209px;
  height: 195px;
  position: absolute;
  left: 47px;
  top: -97.5px;
  background-image: url(../img/Credit.png);
}

.simple {
  position: relative;
  height: 532px;
  margin-top: 35px;
}

.text__heshtag {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #7000ff;
}

.text__h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: -0.02em;
  color: #2b0955;
  margin: 16px 0;
}

.text__info {
  margin-bottom: 36px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #363636;
  max-width: 442px;
}

.bold__blue {
  font-weight: bold;
  color: #7000ff;
}

.form-control {
  border: 1px solid #ae97cb;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #2a0953;
}

.form-control:focus {
  border: 1px solid #2a0953;
  box-shadow: none;
}

.btn__yellow {
  background-color: #fbc508;
  color: #2b0955;
  border: #fbc508;
}

.btn__yellow:hover {
  background: #e6b300;
}

.text__man {
  position: absolute;
  top: 0px;
  left: 49%;
  width: 540px;
  height: 532px;
  background-image: url(../img/man3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe {
  background-color: #f8f6fa;
  margin-top: 78px;
  padding-top: 35px;
  padding-bottom: 36px;
}

.subscribe__info {
  margin-top: 59px;
}

.subscribe__block {
  padding-top: 15px;
  margin-right: 172px;
}

.subscribe__text {
  max-width: 384px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #363636;

  margin-bottom: 19px;
}

.subscribe__text .whatsapp__link {
  color: #363636;
}

.whatsapp__logo {
  width: 39px;
  height: 39px;
  margin-right: 14px;
  background-image: url(../img/whatsapp-icon.png);
}

.whatsapp__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #2b0955;
  cursor: pointer;
}

.subscribe__form--input {
  margin-bottom: 15px;
}

.subscribe__form .subscribe__form--input:nth-last-of-type(1) {
  margin-bottom: 0;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #7000ff;

  margin-bottom: 6px;
}

.subscribe__form input {
  width: 400px;
  height: 40px;
}

.subscribe__form button {
  margin-top: 16px;
}

footer {
  background-color: #2b0955;
  color: #fff;
  padding-top: 39px;
  padding-bottom: 30px;
  padding-left: 122px;
  padding-right: 118px;
}

footer .navbar-toggler {
  display: none;
}

footer .navbar-light .navbar-nav .nav-link {
  margin-right: 130px;
}

footer .navbar-light .navbar-nav .nav-link,
footer .fa {
  color: #fff;
}

footer .navbar-light .navbar-nav .nav-link:hover,
footer .fa:hover {
  color: #e7dfed;
  cursor: pointer;
}

.sign {
  padding-top: 72px;
}

footer .input-group > .input-group-prepend > .input-group-text {
  background: #ffffff;
  border-radius: 0px 6px 6px 0px;
}

footer .input-group > .input-group-prepend > .input-group-text:hover {
  background-color: #d2c0df;
}

footer .input-group {
  width: 365px;
}

footer .input-group-text {
  border: none;
}

footer .form-control {
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 6px;
  transition: 0.2s;
  line-height: 21px;
  font-size: 14px;
  color: #fff;
}

footer .form-control:hover {
  border: 1px solid #e7dfed;
}

footer .form-control:focus {
  color: #656565;
}

.sign label {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  width: 108px;
  margin-right: 26px;
}

.footer__border {
  width: 100%;
  height: 1px;
  background-color: #ae97cb;
  margin-top: 50px;
}

.footer__end {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin-top: 16px;
}

.modal-header {
  border-bottom: none;
}

.modal-header .close {
  padding: 0;
  margin: 0;
  font-size: 35px;
}

.modal-title {
  margin-top: 39px;
  margin-left: 77px;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: -0.02em;
  color: #2a0953;
}

.modal-content .subscribe__form {
  margin: 0 auto;
}

.modal-content {
  border-radius: 20px;
}

.modal-content .btn__yellow {
  margin-left: 214px;
  margin-bottom: 54.5px;
}

.modal-content .d-flex {
  align-items: flex-start;
}

@media (max-width: 1025px) {
  .man {
    width: 485px;
  }

  h1 {
    max-width: 500px;
    font-size: 50px;
    line-height: 70px;
  }

  .text__man {
    width: 512px;
    top: 70px;
  }
  footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 992px) {
  h1 {
    max-width: 500px;
    font-size: 50px;
    line-height: 70px;
  }

  .bg {
    height: 535px;
  }

  .man {
    width: 272px;
    left: 60%;
    top: 93px;
  }

  .text__man {
    width: 434px;
    left: 37%;
  }

  .startup__card--block {
    flex-direction: column;
  }

  .subscribe__block {
    margin-right: 0;
  }

  .subscribe__info {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .bg {
    height: 800px;
  }

  .description {
    max-width: 327px;
  }

  .buttons {
    flex-direction: column;
    display: flex;
  }

  .buttons .btn__transparent:first-child {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .man {
    margin-left: -220px;
    top: 502px;
    left: 50%;
    height: 393px;
    width: 378px;
  }

  .startup {
    margin-top: 400px;
    margin-bottom: 200px;
  }

  .title {
    font-weight: 800;
    font-size: 48px;
    line-height: 137.5%;
    font-style: normal;
    max-width: 327px;
  }

  .description {
    font-size: 18px;
    font-weight: normal;
    line-height: 27px;
    letter-spacing: -0.02em;
    max-width: 327px;
  }

  .startup__card--block {
    display: none;
  }

  .card__item {
    box-shadow: none;
  }

  .slider-block {
    display: block;
    width: 287px;
    height: 306px;
    margin: 20px auto;
  }

  .slick-prev {
    display: none;
  }

  .slick-next {
    display: none;
  }

  .slick-disabled {
    opacity: 0;
    pointer-events: none;
  }

  .text__h2 {
    width: 300px;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: -0.02em;
  }

  .text__info {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    width: 300px;
  }

  .text__man {
    top: 165px;
    width: 100vw;
    left: 0px;
    height: 444px;
    background-size: cover;
  }

  .simple {
    margin-bottom: 450px;
    height: 230px;
    align-items: center;
  }

  .subscribe__info {
    flex-direction: column;
  }

  .subscribe__block {
    margin-right: 0;
  }

  .subscribe input {
    width: 100%;
  }

  .subscribe__text {
    width: 300px;
  }

  .mobile {
    flex-direction: column;
  }

  footer .input-group {
    width: 100%;
    margin-left: 35px;
    margin-right: 35px;
  }

  .modal-content {
    width: 100%;
    padding: 15px;
  }

  .modal-content .btn__yellow {
    margin-left: 115px;
  }

  .modal-dialog {
    width: 100%;
    margin: 0;
  }

  .modal-content {
    border-radius: 0;
    border: none;
  }

  label {
    margin-top: 15px;
  }
}
